In [1]:
import pandas as pd
import numpy as np

Есть продажи некоторых продуктов по дням отдельно в каждый канал продаж (Shipments_by_PO.csv) на период с января 17 по июнь 18. Также указано, с какой скидкой был продан продукт. Продажи могут быть не во все дни.
  * Есть привязка каждого канала продаж к т.н. направлению продаж – оптовая или розничная торговля (Mapping.csv)
  * Есть прогноз, с какой скидкой будут продаваться продукты в июле-августе 18 (Forecast_of_discounts.xlsx). Если продукта/направления нет в файле, значит скидка – 0%
  * Нужно построить прогноз продаж на июль-сентябрь 18 с помощью простейшего алгоритма – линейной регрессии.
  * Регрессию нужно построить по каждой комбинации продукт-направление отдельно, учитывая номер месяца, года и размер скидки. Номер месяца нужно преобразовать с помощью One-Hot Encoding.
  * Прогноз нужен на уровне месяца, продукта и направления продаж, соответственно, все данные нужно сначала преобразовать на данный уровень с помощью Pandas.

In [8]:
data_shipments = pd.read_csv('C:/Users/Peter/Documents/GitHub/PeterOstr/test_run/Shipments_by_PO.csv')
data_mapping = pd.read_csv('C:/Users/Peter/Documents/GitHub/PeterOstr/test_run/Mapping.csv')
data_forecast = pd.read_excel('C:/Users/Peter/Documents/GitHub/PeterOstr/test_run/Forecast_of_discounts.xlsx')

In [19]:
a = data_forecast['Код товара'].value_counts()
len(a)

573

In [10]:
{key:data_forecast[key].isna().sum() for key in data_forecast.columns}

{'Код товара': 0, 'Направление продаж': 0, 'Month': 0, 'Year': 0, 'Скидка': 0}

In [11]:
{key:data_shipments[key].isna().sum() for key in data_shipments.columns}

{'Код товара': 0,
 'Канал': 0,
 'Дата накладной': 0,
 'Продажи, шт': 0,
 'скидка': 0}

In [3]:
data_shipments

        Код товара     Канал Дата накладной  Продажи, шт  скидка
0              299   Канал 1     06.01.2017           32      19
1              299   Канал 1     09.01.2017           59      19
2              299   Канал 1     10.01.2017           22       2
3              299   Канал 1     11.01.2017           35      10
4              299   Канал 1     12.01.2017           55       4
...            ...       ...            ...          ...     ...
808089         311  Канал 13     25.05.2018           63       2
808090         311  Канал 13     05.06.2018           48       6
808091         311  Канал 13     08.06.2018           68       6
808092         311  Канал 13     20.06.2018           51       8
808093         311  Канал 13     27.06.2018           52       5

[808094 rows x 5 columns]

In [22]:
data_forecast['Направление продаж'].value_counts()

Оптовая торговля      562
Розничная торговля    543
Name: Направление продаж, dtype: int64

In [23]:
data_mapping

       Канал  Направление продаж
0    Канал 1  Розничная торговля
1    Канал 2  Розничная торговля
2    Канал 3  Розничная торговля
3    Канал 4  Розничная торговля
4    Канал 5  Розничная торговля
5    Канал 6    Оптовая торговля
6    Канал 7    Оптовая торговля
7    Канал 8    Оптовая торговля
8    Канал 9    Оптовая торговля
9   Канал 10    Оптовая торговля
10  Канал 11    Оптовая торговля
11  Канал 12    Оптовая торговля
12  Канал 13    Оптовая торговля